# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Node
node_modules/
dist/
frontend/dist/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Docker / local
*.log
superset_home/
redis_data/
postgres_data/
